#header {
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: transparent;
}

.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 77px;
  padding: var(--gutter-horizontal);
}

.l-header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--m-xxxxxs);
}
