.parallax-one {
  background-image: url('../../../assets/img/parallax/parallax1.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 60vh;
}

.parallax-two {
  background-image: url('../../../assets/img/parallax/parallax2.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
