.hero-image--left {
  display: flex;
  align-items: center;
  z-index: 1;
  margin: var(--m-xxl) 0 -1.75em -1.5em;
}

.hero-image--left p {
  right: 10px;
  width: 323px;
  height: 40px;
  margin-bottom: 5.5em;
}

.hero-image--right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
