.l-contact .email {
  margin-bottom: var(--m-xxxxxs);
}

.l-contact .email h5 {
  text-transform: lowercase;
}

.l-contact h6 {
  text-transform: uppercase;
  color: var(--color-primary-red03);
  margin-bottom: var(--m-xxxxxxs);
}

.l-keep-in-touch .btn {
  width: 50%;
}

.l-map-site {
  width: 30%;
}

.l-map-site h4 {
  margin-bottom: var(--m-xxxxxs);
}

.map-site--list div li {
  margin-bottom: var(--m-xxxxxxxs);
  padding: var(--m-xxxxxxs);
  cursor: pointer;
}

.map-site--list div li:hover {
  background-color: var(--color-primary-red01);
  border-radius: 10px;
}

.address {
  margin-top: var(--m-xxxxs);
  width: 100%;
}
