.l-the-band-container {
  display: grid;
  grid-template-columns: repeat(12, 110px);
  grid-template-rows: repeat(9, 110px);
  row-gap: 16px;
  justify-content: center;
  grid-auto-flow: row;
}

.l-image1 {
  grid-area: 1 / 3 / 4 / 9;
}

.l-image2 {
  grid-area: 3 / 7 / 6 / 12;
}

.l-text2 {
  grid-area: 6 / 8 / 11 / 11;
  text-align: justify;
}

.l-text1 {
  grid-area: 4 / 4 / 5 / 6;
  text-align: justify;
}

.l-image3 {
  grid-area: 7 / 2 / 11 / 7;
}
