.l-hero {
  position: relative;
  height: 100vh;
}

.l-hero-content--text-box {
  display: flex;
  flex-direction: column;
  row-gap: var(--m-xxxxxs);
  padding: 0 var(--m-xxxxxxxxs);
  max-width: 550px;
  height: 300px;
}
