.l-members-container {
  display: flex;
  align-items: center;
  column-gap: var(--m-xxxxs);
  background-color: var(--ui-black-02);
  color: var(--ui-white);
  border-radius: 10px;
  min-width: 900px;
  height: 400px;
}
