.parallax-one {
  background-image: url('../../assets/img/parallax1.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 60vh;
}
