:root {
  --ui-black01: #0c0c0c;
  --ui-black-02: #101111;
  --ui-black-03: #202120;
  --ui-black-04: #303230;
  --ui-white: #ffffff;
  --color-primary-red01: #df2a2a;
  --color-primary-red02: #ad1e1e;
  --color-primary-red03: #660b0b;
}
