.underline-effect {
  position: relative;
}

.underline-effect::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary-red02);
  transform-origin: bottom right;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.underline-effect:hover {
  background-size: 100% 100%;
  background-position-x: left;
}

.underline-effect:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
